<!DOCTYPE html>
<html>

<head>
    <meta name="keywords" content="倍智科技，咨询服务，软件实施，定制化开发，产品策划">
    <meta charset="utf-8">
    <title>Transfer</title>
    <!--Css-->
    <link href="../css/black.css" rel="stylesheet" type="text/css" charset="utf-8" />
    <link href="../css/index.css" rel="stylesheet" type="text/css" charset="utf-8" />
    <link href="../css/iconfont/iconfont.css" rel="stylesheet" type="text/css" charset="utf-8" />
    <!--Scripts-->
    <script src="../js/ini.js"></script>
</head>

<body>
    <div class="bw-iframe-group" style="min-width: 1024px;height:100%;">
        <div class="top-box">
            <div class="top-left bw-cursor" id="switch-menu">
                <img href="javascript:;" class="switch-img" src="../image/logo-2.png" />
            </div>
            <div class="top-right">
                <div class="user">
                    <img class="pul-l" src="../image/i07.png" />
                    <span id="userTitleName">duan</span>
                    <i class="iconfont bw-down-ico topShowAction"></i>
                    <div class="user-action">
                        <div class="sanjiao"></div>
                        <div class="action-list-box">
                            <div class="action-list"><a class="bw-action" href="adminPasswordEdit.html" target="rightFrame">Reset Password</a></div>
                            <div class="action-list"><a class="bw-action logout" href="javascript:;">Sign out</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:calc(100% - 100px)">
            <!--height:calc(100% - 100px); -->
            <script type="text/x-dot-template" id="tpl-left-box">
                <dl class="left-menu">
                    {{for (var i in it){ }} 
                    {{if(it[i].href){}}
                    <dd class="left-menu-list {{=it[i].name}}">
                        <div class="title">
                            <img class="bw-i-nowrap" src="{{=it[i].icon}}" />
                            <label class="bw-i-nowrap title-href" data-href="{{=it[i].href}}">
                                {{=it[i].title}}
                            </label>
                        </div>
                    </dd>
                    {{ }else{ }}
                    <dd class="left-menu-list {{=it[i].name}}">
                        <div class="title">
                            <img class="bw-i-nowrap" src="{{=it[i].icon}}" />
                            <label class="bw-i-nowrap" title="{{=it[i].title}}">{{=it[i].title}}</label>
                            <i class="iconfont sign-ico bw-right-ico"></i>
                        </div>
                        <ul class="menu-son">
                            {{ var menu=it[i].menu; }} {{for (var j in menu){ }}
                            <li id="{{=menu[j].id}}" title="{{=menu[j].name}}">
                                <a href="{{=menu[j].href}}" class="menuClick bw-i-nowrap" target="rightFrame">{{=menu[j].name}} </a>
                            </li>
                            {{ } }}
                        </ul>
                    </dd>
                    {{ } }} {{ } }}
                </dl>
            </script>
            <div class="left-box" id="left-box"></div>
            <iframe class="" id="rightFrame" src="./home.html" name="rightFrame" width="83%" height="100%" style="border:none;overflow: hidden;display:inline-block;"></iframe>
            
        </div>
        <div style="height:40px;line-height: 40px;background-color:#384a5a;color:#b4bac0;text-align: center;position: fixed;width:100%;z-index: 99999">
            Copyright @ 2016 Midas Touch Innovation, LLC All Rights Reserved
        </div>
    </div>
</body>

</html>
