<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>Transfer</title>
    <link href="../css/login.css" rel="stylesheet" />
    <script src="../js/ini.js"></script>
</head>
<body>
    <div class="login-bg">
        <div class="login-box box-show">
            <form  class="bw-form" id="loginForm" data-callback="reloadForm" data-errorBack="errorBack" action="api/Users/SignIn" method="POST">
                <div class="c-blue login-title">LUM management system</div>
                <div class="login-list login-userInfo">
                    <i class="iconfont bw-userTwo-ico"></i>
                    <input type="text" name="UserName" class="login-input" data-verify="notNull" data-errormsg="账号不能为空"/>
                </div>
                <div class="login-list login-userInfo">
                    <i class="iconfont bw-password-ico"></i>
                    <input type="password" name="Password" class="login-input" data-verify="notNull" data-errormsg="密码不能为空"/>
                </div>
                <div class="login-list login-captcha">
                    <div class="captcha-input">
                        <input type="text" name="Captcha" id="captcha" class="login-input" placeholder=""/>
                    </div>
                    <div class="captcha-img">
                        <img class="bw-cursor" id="codeImg"/>
                    </div>
                    <div class="rememberPassword" data-sel="0">
                        <i class="iconfont bw-unselected-ico"></i>
                        <span class="c-dark">remember</span>
                        <input type="hidden" id="rememberPassword" name="IsRemember" value="false">
                    </div>
                </div>
                <div class="login-list">
                    <span class="c-yellow login-error" style="display: none">error msg</span>
                </div>
                <div class="bw-btn-success bw-btn login-list goLogin">
                    登录
                </div>
                <div style="text-align: center;padding:5px">Please use Google or Firefox browser</div>
            </form>
        </div>
    </div>
    <div style="height:40px;line-height: 40px;background-color:#384a5a;color:#b4bac0;text-align: center">
        Copyright @ 2016 Midas Touch Innovation, LLC All Rights Reserved
    </div>
</body>
</html>