/*top*/
html{background-color:#fff}
.top-box{background: #fdfdfd;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);}
.top-left{color:#ccc;background: #1d1d1d;}
#switch-menu:after{box-shadow: 0 0 0 4px #1d1d1d;background-color: #1d1d1d;}
.top-left:hover #switch-menu:after{color:#ffc20a;}
.isSmall:after{color:#ffc20a;}

/*left*/
.left-box{background-color:#1d1d1d }
.left-menu .select{color:#ffc20a !important;background-color:#161616}
.left-menu .title:hover ,.menu-son li a:hover{background-color:#111;color:#ffc20a}
.menu-son li.active a{color:#ffc20a;}
.smallLeft dd .menu-son{background-color: #1d1d1d;}
.selectTitleParent{background-color: #161616}
.menu-son li a{color:#ccc}
.selectBox .active{color:#ffc20a !important;font-weight:bold;}
.left-menu .title{color:#ccc;}

/*颜色*/
.c-37b5d9{color: #37b5d9}
.c-bg-37b5d9{background-color: #37b5d9}
.c-bd-37b5d9{border-color: #37b5d9}
.c-bg-2c7ac8{background-color: #2c7ac8}
.c-ff6c00{color: #ff6c00}
.c-bg-ff6c00{background-color: #ff6c00}
.c-bd-ff6c00{border-color: #ff6c00}
.c-ffc20a{color: #ffc20a}
.c-FF0000{color: #FF0000}
.c-bg-FF0000{background-color: #FF0000}
.c-bd-FF0000{border-color: #FF0000}
.c-5cb85c{color: #5cb85c}
.c-bg-5cb85c{background-color: #5cb85c}
.c-bd-5cb85c{border-color: #5cb85c}
.c-8b9197{color: #8b9197}
.c-5a5f64{color: #5a5f64}
.c-1d1d1d{color:#1d1d1d}
.c-bg-1d1d1d{background-color:#1d1d1d}
.c-bd-ededed{border-color: #ededed}
.c-fff{color:#fff}
