/*top*/
html{background-color:#fff}
.top-box{background: #f8f8f8;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);}
.top-left{color:#ccc;background: #37b5d9;}
#switch-menu:after{box-shadow: 0 0 0 4px #3399ff;background-color: #3399ff;}
.top-left:hover #switch-menu:after{color:#ffc20a;}
.isSmall:after{color:#ffc20a;}

/*left*/
.left-box{background-color:#37b5d9 }
.menu-son a ,.title{color:#fff;}
.left-menu .select{background-color:#30a5c7}
.left-menu .title:hover{color:#6fd4d3}
.menu-son a:hover{background-color:#eceff0 }
.smallLeft dd .menu-son{background-color:#f8f8f8 }
.selectBox .menu-son{background-color:#c3ecf8}
.selectBox a{color:#37b5d9 !important}
.selectBox .active{color:#337ab7 !important;background-color:#eceff0 !important;font-weight:bold;}
.left-menu .title {border-bottom: solid 1px #37b5d9}

/*颜色*/
.c-37b5d9{color: #37b5d9}
.c-bg-37b5d9{background-color: #37b5d9}
.c-bd-37b5d9{border-color: #37b5d9}
.c-bg-2c7ac8{background-color: #2c7ac8}
.c-ff6c00{color: #ff6c00}
.c-bg-ff6c00{background-color: #ff6c00}
.c-bd-ff6c00{border-color: #ff6c00}
.c-ffc20a{color: #ffc20a}
.c-FF0000{color: #FF0000}
.c-bg-FF0000{background-color: #FF0000}
.c-bd-FF0000{border-color: #FF0000}
.c-5cb85c{color: #5cb85c}
.c-bg-5cb85c{background-color: #5cb85c}
.c-bd-5cb85c{border-color: #5cb85c}
.c-8b9197{color: #8b9197}
.c-5a5f64{color: #5a5f64}
.c-1d1d1d{color:#1d1d1d}
.c-bg-1d1d1d{background-color:#1d1d1d}
.c-bd-ededed{border-color: #ededed}
.c-fff{color:#fff}
